.btn-info{
    color:#fff;
    background-color:#04597a!important;
    border-color:#033042!important
}

a.primary-btn{
    background:#05143f;
    padding:7px 20px;
    text-align:center;
    display:inline-block;
    color:#fff;
    border-radius:2px;
    font-size:14px;
    margin-top:5px
}
a.primary-btn:hover{
    background:#04597a;
    color:#fff
}

.active-link {
  font-weight: bold;
}